node_modules/
output/
dist/
.env
.env*.local
.gemini/
*.mp4
*.mp3
*.png
*.webp
*.txt
*.html
!src/templates/news-card.html
!src/modules/dashboard/index.html
!index.html
!privacy.html/
!privacy.html/**
!terms.html/
!terms.html/**
!tiktok*.txt
!.nojekyll
